@import 'base/variables';
@import 'base/title';
@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700;900&display=swap');
* {
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
    img {
        height: 100%;
        object-fit: fill;
    }
    a {
        color: $bright-color;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: $bright-color;
            text-decoration: none;
        }
    }
}

body {
    // background-color: #24292f;
    // background-color: #35221f;
    background-color: $bg-color;
}

.btn {
    width: 150px;
    height: 50%;
    border: none;
    color: $bright-color;
    background-color: #BF0404;
    border-radius: 10px;
    transition: transform 1s;
    &:hover {
        transform: scale(1.1);
    }
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

// for the first page
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/trend';
@import 'blocks/cards';
@import 'blocks/contacts';
@import 'blocks/order';
@import 'blocks/footer';
// for second page
@import 'nature/nature';
// media
@import 'base/media';