.contacts {
    position: relative;
    height: 800px;
    display: flex;
    color: $bright-color;
    background-color: rgba(0, 0, 0, 0.7);
    &__text {
        display: flex;
        padding: 20px 50px;
        width: 40%;
        height: 100%;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 2;
        .descr {
            text-align: center;
        }
    }
    &__image {
        width: 60%;
        height: 100%;
        img {
            height: 100%;
            width: 100%;
            right: 0;
        }
    }
    &__links {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &_item {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $bright-color;
            border-radius: 50%;
            transition: margin-top .5s;
            &:hover {
                margin-top: -20px;
            }
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}