.contacts {
    position: relative;
    min-height: 800px;
    display: flex;
    color: $bright-color;
    background-color: rgba(0, 0, 0, 0.7);
    &__text {
        display: flex;
        padding: 20px 50px;
        width: 40%;
        // height: 100%;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 2;
        .descr {
            text-align: center;
            overflow: hidden;
        }
    }
    &__image {
        width: 60%;
        img {
            height: 100%;
            width: 100%;
            right: 0;
        }
    }
    &__links {
        width: 100%;
        display: flex;
        margin-top: 30px;
        justify-content: space-around;
        align-items: center;
        &_item {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $bright-color;
            border-radius: 50%;
            transition: transform .5s;
            &:hover {
                transform: translateY(-8px);
            }
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
    &_btn {
        margin: 20px auto;
        width: 200px;
        height: 50px;
    }
}