.header {
    position: fixed;
    width: 99.9%;
    height: 80px;
    // background-color: #1B3059;
    background-color: $bg-color;
    display: flex;
    color: #fff;
    border: 1px solid $bright-color;
    border-radius: 0 0 30px 30px;
    z-index: 10;
    a {
        width: 100%;
        height: 100%;
    }
    .nav {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            width: 60px;
            cursor: pointer;
        }
        &__links {
            width: 50%;
            .ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            a {
                position: relative;
            }
            li {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 3px;
                    bottom: -10px;
                    left: 0;
                    background-color: $bright-color;
                    transition: width .5s;
                }
                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
            &_active {
                display: block;
            }
        }
    }
}

p {
    padding: 0;
    margin: 0;
    &:hover {
        li {
            &::after {
                display: none;
            }
        }
    }
}

.nav__dropdown {
    cursor: pointer;
    &::after {
        display: none;
    }
    ul {
        display: none;
        position: absolute;
        list-style-type: none;
        width: 100px;
        text-align: center;
        margin: 0;
        padding: 0;
        background-color: $bg-color;
        border: 1px solid $bright-color;
        border-radius: 10px;
        margin-top: 5px;
        li {
            padding: 5px;
            &:hover {
                transform: scale(1.1);
                &::after {
                    display: none;
                }
            }
            a {
                display: block;
                width: 100%;
            }
        }
    }
    img {
        width: 15px;
        height: 15px;
        margin-left: 5px;
        transition: transform .5s;
    }
    &_active {
        ul {
            display: block;
        }
        img {
            transform: rotate(180deg);
        }
    }
}

.burger {
    width: 26px;
    height: 26px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: $bright-color;
        transition: transform .5s;
    }
    &__active {
        span {
            &:nth-child(1) {
                transform: rotateZ(45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                margin: -14px -9px -1px -10px;
                transform: rotateZ(135deg);
            }
        }
    }
}