.promo {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../../img/main_bg.jpg");
    color: $bright-color;
    display: flex;
    align-items: center;
    justify-content: center;
    &__welcome {
        width: 400px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .3);
        border-radius: 10px;
        &_btn {
            width: 300px;
            height: 50px;
        }
        .h1 {
            text-align: center;
            font-weight: 900;
            font-size: 64px;
        }
    }
    &__text {
        margin: 0 0 20px 0;
        font-size: 36px;
    }
}

.welcome {
    background: url("../../img/pages/nature_promo.jpg") center center/cover no-repeat;
    &__welcome {
        height: 300px;
        &_btn {
            width: 300px;
            height: 50px;
        }
    }
    &__text {
        margin: 0 0 25px 0;
    }
}