.promo {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../img/main_bg.jpg");
    color: $bright-color;
    display: flex;
    align-items: center;
    justify-content: center;
    &__welcome {
        width: 400px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .3);
        border-radius: 10px;
        .h1 {
            text-align: center;
            font-weight: 900;
            font-size: 64px;
        }
    }
    .welcome__text {
        margin: 5px 0 20px;
        font-size: 18px;
    }
}

.promo_btn {
    width: 300px;
    height: 50px;
}

.welcome {
    height: 300px;
}

.nature-main {
    background: url("../img/pages/nature_promo.jpg") center center/cover no-repeat;
    &__text {
        margin: 0 0 25px 0;
    }
}

.wild {
    background: url("../img/pages/wild_promo.jpg") center center/cover no-repeat;
}

.pets {
    background: url("../img/pages/pets_promo.jpg") center center/cover no-repeat;
}

.landscape {
    background: url("../img/pages/landscape_promo.jpg") center center/cover no-repeat;
}