.nature {
    min-height: 800px;
    background-color: $beige-bg;
    padding: 50px 0;
    &__title {
        &::after,
        &::before {
            background-color: #000;
        }
    }
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, 306px);
    grid-template-rows: repeat(auto-fill, 390px);
    align-items: center;
    justify-content: space-between;
    &__item {
        position: relative;
        margin-top: 60px;
        padding: 10px 20px;
        width: 306px;
        height: 390px;
        background: url("../icons/item_bg.png") no-repeat;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: transform .5s;
        &_category {
            position: absolute;
            width: 74px;
            height: 35px;
            background-color: $bright-color;
            top: 55%;
            left: 10%;
            border-radius: 8px 8px 8px 0px;
        }
        &_text {
            color: #000;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
        }
        &_descr {
            color: #000;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &_price {
            font-size: 20px;
        }
        .btn {
            margin-top: 20px;
            width: 100px;
            height: 30px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:hover {
            transform: scale(1.01);
        }
        img {
            position: absolute;
            width: 269px;
            height: 269px;
            left: 18px;
            top: 10px
        }
    }
}

a {
    text-decoration: none;
}